@font-face{
    font-family: 'digital';
    src: url('./font/font.ttf');
}

body{
    margin: 0;
    background-color: #d6eaff;
}
header{
    text-align: center;
    background-color: #4aa5ff;
    padding: 30px;
    box-shadow: 0px 5px 10px #9d9592;
}
footer{
    text-align: center;
    background-color: #4aa5ff;
    padding: 30px 0;
    margin-top: 50px;
    box-shadow: 0px -5px 10px #9d9592;
}
.wrap{
    margin: 0 auto 0 auto;
    overflow: hidden;
    position: relative;
    max-width: 600px;
}
#application_name{
    font-family: 'Skia-Regular_Black','Arial Rounded MT Bold','Arial Black';
    font-size: 50px;
}
#noon,#night{
    margin: 50px 0;
    text-align: center;
    height: 300px;
    width: 100%;
    position: relative;
}
#sun_img{
    position: absolute;
    left: 30px;
    top: 20px;
    width: 200px;
    height: 200px;
}
#cloud1_img{
    position: absolute;
    top: 120px;
    right: 90px;
    width: 100px;
    height: 100px;
}
#cloud2_img{
    position: absolute;
    top: 180px;
    right: 180px;
    width: 130px;
    height: 80px;
}
#moon_img{
    position: absolute;
    left: 30px;
    top: 20px;
    width: 200px;
    height: 200px;
}
#star1_img{
    position: absolute;
    top: 150px;
    right: 120px;
    width: 40px;
    height: 40px;
}
#star2_img{
    position: absolute;
    top: 180px;
    right: 180px;
    width: 80px;
    height: 80px;
}
#clock_item{
    text-align: center;
    position: relative;
}
#clock_img{
    width: 80%;
    height: 80%;
    max-width: 240px;
    max-height: 100px;
}
#clock_img{
    text-align: center;
}
.alarm_item{
    text-align: center;
    margin: 30px 0;
}
#alarm_set{
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    margin: 0 10px;
    text-align: center;
    font-size: 25px;
    width: 110px;
}
.submit_item,.send_item{
    text-align: center;
    margin: 30px 0;
}
#start,#send{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background-color: #4aa5ff;
    font-size: 24px;
    border: none;
    box-shadow: 2px 2px 4px gray;
    max-width: 350px;
    width: 100%;
    padding: 10px 0;
}
#start:active,#send:active{
    color: #000000;
    box-shadow: none;
    transform: translate3d(3px, 3px, 0);
}
#cancel{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000033;
    font-size: 24px;
    border: none;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    max-width: 400px;
    width: 100%;
    padding: 10px 0;
}
#cancel:active{
    color: #ffffff;
    box-shadow: none;
    transform: translate3d(3px, 3px, 0);
}
.now_time_item{
    text-align: center;
}
.now_time_colon,.now_time_num{
    position: absolute;
    top: 15px;
    width: 100%;
}
span[id^="time"]{
    top: 0;
    color: #00FF00;
    font-size: 50px;
    font-family: 'digital';
    text-align: center;
}
#time_hours{
    position: relative;
    top: 5px;
    right: 20px;
}
#time_minutes{
    position: relative;
    top: 5px;
    left: 20px;
}
.set_message{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
}
#set_time{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 40px;
    margin: 0 10px;
}

.result_item,.target_item_item,.select_file_item,.send_item,.change_target_item{
    text-align: center;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}
/*#result{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    color: #000000;
}
#target_item_message{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    color: #000000;
}*/
.canvas_item{
    text-align: center;
}
canvas, video{
    border: 1px solid gray;
}
#myCanvas{
    border: 1px solid black;
}
#camera{
    width: 100%;
    height: 100%;
}
#picture{
    width: 100%;
    height: 100%;
}
.target_item_item{
    margin: 50px 0;
}
#change_target{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background-color: #8ac4ff;
    font-size: 18px;
    border: none;
    box-shadow: 2px 2px 4px gray;
    max-width: 200px;
    width: 100%;
    padding: 10px 0;
    margin: 20px 0;
}

@media(max-width:767px){
    #application_name{
        font-size: 40px;
    }
    #alarm_set{
        font-size: 15px;
        width: 65px;
        margin: 0 5px;
    }
    .set_message{
        font-size: 13px;
    }
    #start,#cancel{
        font-size: 18px;
        width: 80%;
    }
    #noon,#night{
        margin: 30px 0;
    }
    #sun_img,#moon_img{
        left: 30px;
        width: 150px;
        height: 150px;
    }
    #cloud1_img,#star1_img{
        right: 50px;
    }
    #cloud2_img,#star2_img{
        right: 120px;
    }
    #time_hours{
        width: auto;
    }
    #time_minutes{
        width: auto;
    }
}

@media(max-width:321px){
    #sun_img,#moon_img{
        left: 20px;
        width: 130px;
        height: 130px;
    }
    #cloud1_img,#star1_img{
        right: 20px;
        width: 80px;
        height: 80px;
    }
    #cloud2_img,#star2_img{
        right: 80px;
        width: 120px;
        height: 70px;
    }
}