<!DOCTYPE html>
<html>
    <head>
        <!--<meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script src="jquery-3.4.1.min.js"></script>
        <script src="jquery-color-master/jquery.color.js"></script>
        <script src="timedropper-master/timedropper.js"></script>
        <link rel="stylesheet" type="text/css" href="timedropper-master/timedropper.css">
        <link rel="stylesheet" type="text/css" href="alarm.css">

        <script src=></script>-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--外部js参照場所-->
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <script src="static/js/jquery-color-master/jquery.color.js"></script>
        <script src="static/js/timedropper.js"></script>

        <script src="static/js/main.js"></script>
        
        <link rel="stylesheet" type="text/css" href="static/css/timedropper.css">
        <link rel="stylesheet" type="text/css" href="static/css/alarm.css">
    </head>
    <body>
        <header>
            <span id="application_name">CaptureAlarm</span>
        </header>

        <div class="wrap">
            <div id="sky_item">
                <div id="noon">
                    <img src="image/sun.png" id="sun_img">
                    <img src="image/cloud1.png" id="cloud1_img">
                    <img src="image/cloud2.png" id="cloud2_img">
                </div>
                <div id="night">
                    <img src="image/moon.png" id="moon_img">
                    <img src="image/star.png" id="star1_img">
                    <img src="image/star.png" id="star2_img">
                </div>
            </div>

            <div id="clock_item">
                <img src="image/digital_clock.png" id="clock_img">
                <div class="now_time_item">
                    <div class="now_time_num">
                        <span id="time_hours"></span>
                        <span id="time_minutes"></span>
                    </div>
                    <div class="now_time_colon">
                        <span id="time_colon"></span>
                    </div>
                </div>
            </div>
            <div class="alarm_item">
                <span class="set_message">アラームは</span>
                <input type="text" id="alarm_set">
                <span id="set_time"></span>
                <span class="set_message">に設定されています</span>
            </div>
            <div class="submit_item">
                <button type="button" id="start">おやすみなさい</button>
                <button type="button" id="cancel">やっぱり起きる</button>
                <audio id="inn" src="sound/inn.mp3" type="audio/mp3"></audio>
                <audio id="chicken" src="sound/chicken.mp3" type="audio/mp3"></audio>
                <audio id="alarm" src="sound/alarm.mp3" type="audio/mp3" loop></audio>
            </div>
        </div>




        <div class="camera">
            <div class="target_item_item">
                「<span id="target_item_message"></span>」
                を撮影してください
            </div>
            
            <div class="canvas_item">
                <canvas id="myCanvas" width="300" height="400"></canvas>
            </div>

            <div class="select_file_item">
                <input type="file" accept="image/*;capture=camera" id="cameraImage">
            </div>

            <div class="change_target_item">
                <button type="button" id="change_target">違うやつにして！</button>
            </div>
            
            <form>
                <div class="send_item">
                    <input type="submit" value="送信" id="send">
                </div>
            </form>
            
            <div class="result_item">
                <div id="result"></div>
            </div>
        </div>
            
        <script>
            
        </script>



        <footer>
            <div id="copyright">
                ©︎2020 team Yakinikukuitai
            </div>
        </footer>
    </body>
</html>